.App {
  text-align: center;
  background-color: #ddd5d0;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 5%;
}

.Routes-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

.storage-image {
  width: 50vw;
  height: 30vh;
}

.Nav-Bar {
  background-color: #3c3c3b;
  padding-top: 1%;
  box-shadow: rgb(0 0 0 / 50%) 1px 0px 8px 5px;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
}

.Navbar-Dropdown {
  color: black;
  font-size: 1.2rem;
}

.justify-contnet-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Navbar-Logo {
  object-fit: cover;
  width: 200px;
  margin-bottom: 20px;
}

.Home-Create-Sign-In-Link {
  color: black;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .Nav-Bar {
    width: 100vw;
  }
  .Nav-Bar-Side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Navbar-Logo {
    object-fit: cover;
    width: 150px;
    margin-bottom: 20px;
  }
}
