.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Right-Column {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.storage-image {
  width: 50vw;
  height: 30vh;
}

.Nav-Bar {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: green;
  padding-top: 10%;
  box-shadow: rgb(0 0 0 / 50%) 1px 0px 8px 5px;
}

.Nav-Bar-Side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.Navbar-Logo {
  object-fit: cover;
  width: 200px;
}

.Home-Create-Sign-In-Button {
  background-color: none;
}

.Home-Create-Sign-In-Link {
  color: white;
  font-size: 1.6rem;
}
