.Auth-Form-Container {
  padding: 10px;
}

.Auth-Form-Wrapper {
  background-color: #d8cbc0;
  border: 2px solid rgba(60, 60, 59, 0.25);
  padding: 50px;
  border-radius: 5px;
}

.Auth-Form-Logo {
  object-fit: cover;
  width: 500px;
  margin-bottom: 40px;
}

.Auth-Form-Input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border: 1px solid #cccccc;
}

.Sign-In-Log-In-Button {
  width: 300px;
}

.Toggle-Option-Container {
  background-color: #d8cbc0;
  margin-top: 20px;
  border: 2px solid rgba(60, 60, 59, 0.25);
  padding: 15px 0;
  font-size: 1.4rem;
  border-radius: 5px;
}
