.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.Close-Deleted-Modal {
  background-color: #0b3d32;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.Close-Deleted-Modal:hover,
.Close-Deleted-Modal:focus {
  background-color: #466b61;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 50%) 2px 3px 3px 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  text-align: center;
  width: 100%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
