.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  align-items: center;
  background-color: #fefefe;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #0b3d32;
  color: white;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  gap: 2%;
}

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.Modal-Left-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.Details-Transaction-Wrapper {
  padding-left: 3%;
  width: 100%;
}

.Modal-Right-Wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage-image {
  object-fit: cover;
}

.Card-Text-Title {
  font-size: 1.5rem;
  margin-top: 10px;
  text-decoration: underline;
}

.Card-Text-Text {
  padding-left: 2%;
  font-size: 1.2rem;
  color: grey;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
