.Transfeed-Table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
}

.Flex-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  line-height: 3;
}

.Flex-Row-Titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  line-height: 3;
  background-color: bisque;
}

.Flex-Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Transfeed-Table-Title {
  font-size: 1rem;
  font-weight: 100;
}

.Block-Row {
  width: 9%;
}

.Street-Name {
  width: 18%;
}

.Floor-Level {
  width: 9%;
}

.Floor-Area {
  width: 18%;
}

.Remaining-Lease {
  width: 9.5%;
}

.Resale-Price {
  width: 9.5%;
}

.box {
  width: 9%;
}
