/* .Transfeed-Section {
  
} */

.Transfeed-Table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
}

.Flex-Row-Titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #c47335;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Flex-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.2 rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #d1a483;
}

.Flex-Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Title-Text {
  font-size: 1.3rem;
}

.Block-Row {
  width: 6%;
  font-size: 1.2rem;
}

.Street-Name {
  width: 18%;
  font-size: 1.2rem;
}

.Floor-Level {
  width: 8%;
  font-size: 1.2rem;
}

.Floor-Area {
  width: 10%;
  font-size: 1.2rem;
}

.Remaining-Lease {
  width: 15%;
  font-size: 1.2rem;
}

.Resale-Price {
  width: 9.5%;
  font-size: 1.2rem;
}

.box {
  width: 9%;
}
