.Transfeed-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.Notes-Container {
  width: 85rem;
  font-size: 1.1rem;
  padding-left: 5%;
  padding-right: 5%;
}

.Notes-Title {
  font-size: 5rem;
}

.Notes-Title-2 {
  font-size: 2.5rem;
}

.Notes-Wrapper {
  text-align: left;
}

.Transfeed-Table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85rem;
}

@media (max-width: 1440px) {
  .Transfeed-Table {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.Flex-Row-Titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #0b3d32;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Flex-Row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.Flex-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 1.2 rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.Flex-Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Title-Text {
  font-size: 1.3rem;
}

.Block-Row {
  width: 10%;
  font-size: 1.2rem;
  text-align: left;
}

.Street-Name {
  width: 15%;
  font-size: 1.2rem;
  text-align: left;
}

.Floor-Level {
  width: 10%;
  font-size: 1.2rem;
  text-align: left;
}

.Floor-Area {
  width: 10%;
  font-size: 1.2rem;
  text-align: left;
}

.Remaining-Lease {
  width: 12%;
  font-size: 1.2rem;
  text-align: left;
}

.Resale-Price {
  width: 10%;
  font-size: 1.2rem;
  text-align: left;
}

.box {
  width: 10%;
}

.Button-Wrapper {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.Button-Wrapper * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.More-Info-Btn {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

.Btn-Image {
  width: 40px;
}

.Btn-Image:hover {
  filter: brightness(110%);
}

.Btn-Edit {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.Btn-Trash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
